/* .LandingPage {
  background: url(../../images/bg.jpg) no-repeat center center fixed;
  width: 100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
